.content{
  max-width: min(112rem, 90%);
}

#room header{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between; 
}

#room header .buttons{
  display: flex;
}

#room header .buttons .button:nth-child(1){
  margin-right: 0.8rem;
  padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
  margin-left: 1rem;
  width: 2rem; height: 2rem;

}

#room header .buttons .button:nth-child(2){
  margin-right: 0.8rem;
  padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img{
  margin-left: 1rem;
  width: 2rem; height: 2rem;
  
}

/* Question form */

#question-form h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--black);
  margin-bottom: 2.4rem;
  line-height: 4.2rem;
}

#question-form form{
  border: .2rem solid var(--grey-blue);
  padding: 1.6rem;
  border-radius: 0 .8rem .8rem .8rem;

  margin-bottom: 1.2rem;
}

#question-form form textarea{
  width: 100%;
  background: transparent;

  outline: none;
  resize: none;

}

#question-form form textarea::placeholder{
  color: var(--grey-blue);
}

#question-form form footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Ao usar o sinal de > queremos dizer
pegar das div que vem depois de footer */
#question-form form footer > div{
  color: var(--icons-details);
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
}

#question-form form footer > div img{
  margin-right: 0.9rem;
}

#question-form button{
  height: auto;
  padding: .8rem 2.4rem;
  line-height: 2.4rem;
}

/* QUESTIONS */
.question-wrapper{
  background: var(--light-blue);
  margin-bottom: .8rem;
  border-radius: 0 .8rem .8rem .8rem;
  padding: 2.4rem;
}

.question-wrapper .question-content{
  display: flex;
  align-items: flex-start;
}

.question-wrapper .question-content .user{
  background: var(--blue);
  clip-path: circle();
  padding: 1.4rem;

}
/* Alterando o espaço entre o texto da pergunta e o ícone do user */
.question-wrapper .question-content .question> p{
  word-break: break-word; /*Não quebra o layout*/
  margin-left: 1.6rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  min-height: 4rem;

}

.question-wrapper .actions{
  display: flex;
  align-items: center;
  justify-content: flex-end; /*Colocando os botões no final da DIV*/
}

.question-wrapper .actions > a{
  display: flex;
  align-items: center;
  margin-right: .5rem;
}

.question-wrapper .actions > img{
  margin-right: 1.2rem;
}

.question-wrapper .actions > a > img{
  margin-left: .8rem;
}

.question-wrapper .actions > a + a{
  margin-left: 2.4rem;
}

/*Questions read*/
.question-wrapper.read{
  background: var(--grey-medium);
  
}
.question-wrapper.read .question-content .user{
  background: var(--grey-blue);
}